<style>
  div {
    width: 90%;
    margin: 10px 5%;
    height: 50px;
    line-height: 50px;
    font-family: sans-serif;
    text-align: center;
    color: #222;
    font-size: 25px;
    border-radius: 10px;
  }
  body {
    background: #222;
  }
</style>
<div style="background-color: #000b96;">#000b96</div>
<div style="background-color: #000a7c;">#000a7c</div>
<div style="background-color: #000a6d;">#000a6d</div>
<div style="background-color: #00095d;">#00095D</div>
<div style="background-color: #000449;">#000449</div>
<div style="background-color: #000034;">#000034</div>

<div style="background-color: #e53935;">#e53935</div>
<div style="background-color: #e80000;">#e80000</div>
<div style="background-color: #c70000;">#C70000</div>
<div style="background-color: #a30000;">#a30000</div>
<div style="background-color: #8e0000;">#8e0000</div>
